src/main/app/convertedprice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="convertedpriceFlow">
        <choice doc:name="Choice">
            <when expression="payload=='US'">
                <set-payload doc:name="Set Payload" value="#[new Integer(70)]"/>
            </when>
            <when expression="payload=='UK'">
                <set-payload doc:name="Set Payload" value="#[new Integer(88)]"/>
            </when>
            <otherwise>
                <set-payload doc:name="Set Payload" value="#[new Integer(1)]"/>
            </otherwise>
        </choice>
    </flow>
</mule>
