src/main/app/simpleTansformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8099" doc:name="HTTP Listener Configuration"/>
    <flow name="tansformationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/simpleTrasnformation" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:set-payload resource="classpath:product.dwl"/>
            <dw:set-variable resource="classpath:usrLogin.dwl" variableName="fvUsrLogin"/>
            <dw:set-variable variableName="job"><![CDATA[%dw 1.0
%output application/java
---
inboundProperties.'http.query.params'.job]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[flowVars.job]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
